.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.about{
    font-family: Maison-Medium;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    padding: 0vw 12vw;
    margin-top: 48px;
}
.italic{
    font-style: italic;
    font-size: 18px;
}