.container{
    width:25%;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 5vh 0px 20vh 0px;
    align-items: center;
}

.options{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:16px;
    margin-top:8vh;
    cursor:pointer;
    transition: all 0.8s ease-out;
}

.option:hover{
    color:#5A5656;
}

.option{
    font-family: Maison-Bold;
    font-size: 32px;
}

.close{
    width: 24px;
    height: 24px;
    align-self: flex-end;
    margin-right: 32px;
    transition: transform 0.2s ease-out;
}

.close:hover{
    transform: scale(1.5);
}



.credentials{
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
 }

 .tray{
    margin-top: 64px;
    display: flex;
    align-items: center;
    gap:36px;
}
 

 @media only screen and (max-width: 1162px){
    .container{
        width:100%;
    }
 }