.container{
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:64px;
    z-index: 2;
 }

 .credentials{
    display: flex;
    flex-direction: row;
    gap: 48px;
 }

 .tray{
   display: flex;
   align-items: center;
   gap:36px;
 }


 @media only screen and (max-width: 768px){
    .credentials{
        flex-direction: column;
        gap:24px;
        align-items: center;
    }
 }