@font-face {
  font-family: Maison-Black;
  src: url(../public/fonts/MaisonNeue-Black.woff2);
}

@font-face {
  font-family: Maison-Bold;
  src: url(../public/fonts/MaisonNeue-Bold.woff2);
}

@font-face {
  font-family: Maison-Light;
  src: url(../public/fonts/MaisonNeue-Light.woff2);
}

@font-face {
  font-family: Maison-Medium;
  src: url(../public/fonts/MaisonNeue-Medium.woff2);
}


*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  position: absolute;
  background-color: #1E191A;
  min-width: 100%;
  overflow-x: hidden;
}




